{% extends "main.jinja" %}

{% block content %}

<h1>Options:</h1>

<div class="btn-group">
<form>
  <button formaction="users">Manage Users</button>
  <button formaction="posts">Manage Posts</button>
</form>
</div>

{% endblock %}
