{% extends "main.jinja" %}

{% block content %}

<h1>Options:</h1>

<div class="btn-group">
<form>
  <button formaction="list">Postlist</button>
  <button formaction="create">Create a post</button>
  <button formaction="../">Home</button>
</form>
</div>

{% endblock %}
