<p>
Hi,
<br />
To reset your Bloggr account password please click here.
<br />
If you have previously requested to change your password, only the link contained in this e-mail is <a href="passreset/{{ token }}">valid</a>.
<br />
If this wasn't you:
<br />
Your Bloggr account may have been compromised and you should reset your password now to ensure your account security.
<br />
Bloggr Team