{% extends "main.jinja" %}
{% block content %}
<script type=text/javascript src="{{url_for('static', filename='jquery-3.4.1.min.js') }}"></script>

<form method="post" action="../tokens">
  <div class="container">
    <h1>Se connecter</h1>
    <p>Remplir le formulaire suivant: </p>
    <hr>
    
    <label for="username"><b>Nom d'utilisateur</b></label>
    <input type="text" placeholder="Nom d'utilisateur" name="username" required>

    <label for="password"><b>Mot de passe</b></label>
    <input type="password" placeholder="Mot de passe" name="password" required>
    <hr>

    <button type="submit" class="registerbtn">Se connecter</button>
  </div>
</form>

<button id="toto">toto</button>
<script type=text/javascript>
$('#toto').click(function() {
  console.log('button clicked');
});

{% endblock %}