{% extends "main.jinja" %}
{% block content %}
<form>
  <div class="container">
    <h1>Se connecter</h1>
    <p>Remplir le formulaire suivant: </p>
    <hr>
    
    <label for="username"><b>Nom d'utilisateur</b></label>
    <input id="user-input-username" type="text" placeholder="Nom d'utilisateur" name="username" required>

    <label for="password"><b>Mot de passe</b></label>
    <input id="user-input-password" type="password" placeholder="Mot de passe" name="password" required>
    <hr>

    <button id="user-login-button" class="registerbtn">Se connecter</button>
  </div>
</form>


{% endblock %}
{% block customscripts %}
<script>
$( document ).ready(function() {
    $( "#user-login-button" ).click(function(event) {
        event.preventDefault();
        login($("#user-input-username").val(),$("#user-input-password").val());
    });
});

function login(u,pw){
    $.ajax({
        url : '/tokens/',
        type : 'POST',
        data: JSON.stringify({username:u,password:pw}),
        dataType: "json",
        contentType: "application/json;charset=utf-8",
        success : function(data) {              
            alert(JSON.stringify(data));
            //document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            document.cookie = "token="+data.token+""+";path=/";
            
        },
        error : function(request,error)
        {
            alert(error)
        }
    });
}
</script>
{% endblock %}